<p>this is mobile filter!</p>
<ul>
    <li *ngFor="let filter of filters">
        <label>
            <input type="radio" name="category" [value]="filter.category" [(ngModel)]="filter.category" (ngModelChange)="subCategoryChanged(filter)" [checked]="currentFilter.category === filter.category">
            <span>{{ filter.category }}</span>
        </label>
        <div>
            <ul class="checkbox-list" *ngIf="filter.subCategories">
                <li *ngFor="let subCategory of filter.subCategories" class="checkbox-list__item">
                    <label class="checkbox">
                        <input [(ngModel)]="subCategory.checked" (ngModelChange)="subCategoryChanged(filter)" class="checkbox__input" type="checkbox">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">{{ subCategory.title }}</span>
                    </label>
                </li>
            </ul>
        </div>
    </li>
</ul>
